* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#parent {
    width: 448px;
    height: 576px;
}
canvas {
    /* Keep pixel art looking good when canvas is scaled up.  */
    /* In the future, this might be an opt-in feature of GTP. */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering:   -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Non-Chrome Webkit, e.g. Safari */
    image-rendering: pixelated; /* Chrome */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
